#index-body{
    background-image: url(../assets/img/1.jpg);
    background-size: cover;
}

#login-container{
    width: 19rem;
    border-radius: 1rem;
}

.button-without-styles{
    border: none;
    background-color: transparent;
}

.card-img-top{
    height: 250px;
}

.card-title, .card-text, .btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-img{
    height: 500px;
}